@using softasinsoftware.Shared.Models

<div class="card neumorphism mt-3">
	<img class="card-img-top" src="@youTubeVideo.ThumbnailUrl" alt="@youTubeVideo.Title">
	<div class="card-body">
		<h5 class="card-title text-center">@youTubeVideo.Title</h5>
		<div class="card-text text-small">@Truncate(youTubeVideo.Description, 150)</div>
	</div>
	<div class="card-footer text-center">
		<div class="fw-bolder">@youTubeVideo.ShowDate.Date.ToShortDateString()</div>
		<a href="@youTubeVideo.Url">Goto YouTube</a>
	</div>
</div>

@code {
	[Parameter]
	public YouTubeVideo youTubeVideo { get; set; }

	public static string Truncate(string source, int length)
	{
		return source.Substring(0, Math.Min(length, source.Length)) + " ...";
	}
}